.indhold1 .indhold2 .indhold3 .indhold4 .indhold5 .indhold6 .indholdx {
  max-width: 1200px;
  margin: 100px;
  text-align: justify;
}

.indholdx {
  margin-left: 15%;
}

#fourth_section {
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #554688;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

header {
  color: rgb(253, 253, 253);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  padding: 10px;
}

.logo {
  width: 60%;
}

h1 {
  font-family: garage-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 72px;
  line-height: 60px;
  text-align: center;
}

h2 {
  font-family: garage-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25px;
}

h3 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 40px;
  text-align: center;
  line-height: 30px;
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

b {
  font-weight: bold;
}

#first_section .indhold1 h1 {
  color: #2b195e;
  padding-top: 30px;
  text-align: left;
}

#first_section .indhold1 h3 {
  color: #2b195e;
}

#second_section .indhold2 h1 {
  color: #811639;
}

#second_section .indhold2 h2 {
  color: #811639;
}

#second_section .indhold2 p {
  color: #811639;
}

#third_section .indhold3 h1 {
  color: #dec7e8;
}

#third_section .indhold3 h3 {
  color: #dec7e8;
}

#third_section .indhold3 .container .row h2 {
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

#third_section .indhold3 .container .row p {
  text-align: center;
  color: white;
}

#fourth_section .indhold4 h1 {
  color: #e9c87c;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 5px;
}

#fourth_section .indhold4 h3 {
  color: #e9c87c;
  text-align: left;
  padding-bottom: 30px;
}

#fourth_section .indhold4 .container .row p {
  text-align: left;
  color: #e9c87c;
  padding-bottom: 20px;
}

#fifth_section .indhold5 h1 {
  color: #811639;
}

#fifth_section .indhold5 h3 {
  color: #811639;
  padding-bottom: 50px;
}

#sixth_section .indhold6 h1 {
  color: #899600;
}

#sixth_section .indhold6 h3 {
  color: #899600;
  padding-bottom: 50px;
}

#sixth_section .indhold6 p {
  color: #899600;
}

.container-fluid {
  color: #2b195e;
}

.navbar-collapse {
  color: white !important;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  justify-content: center;
}

.navbar-nav a:any-link {
  color: white !important;
}

.navbar-nav a:hover {
  color: #e9c87c !important;
}

.navbar-nav a:active {
  color: #e9c87c !important;
}

.bowls {
  max-width: 110%;
  height: auto;
}

.bowl1 {
  width: 100%;
}

.pil {
  width: 20%;
  padding-top: 20px;
}

nav {
  flex-direction: row;
  height: 10%;
  color: white;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

#first_section {
  background-image: url("img/background.jpg");
  width: 100%;

  background-size: cover;
  background-position: 25% 10%;
  max-width: none;
}

.yellowbox {
  background-color: #e8c87d;
  width: 100%;

  border-radius: 10px;
  text-align: center;
  margin-top: 70px;
  padding-top: 2rem;
}

#second_section {
  background-color: #e6aac8;
}

#third_section {
  background-color: #554688;
}

#fourth_section {
  background-color: #2b195e;
  height: auto;
}

#fifth_section {
  background-color: #e6aac8;
}

#sixth_section {
  background-color: #e8c87d;
}

.card-text {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: white;
  z-index: 1;
  padding-top: 2rem;
}

.card-title {
  text-align: center;
  font-family: garage-gothic, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: white;
  line-height: 32px;
}

.card {
  background: #e8c87d;
  border: none;
  margin-bottom: 50px;
}

.boxmargin {
  margin-bottom: 2rem;
}

#fifth_section .card img {
  opacity: 0.3;
}

.card.billede1 {
  background-color: #2b195e;
}

.card.billede2 {
  background-color: #2b195e;
}

.card.billede3 {
  background-color: #2b195e;
}

.card.billede4 {
  background-color: #2b195e;
}

.zoom {
  background-color: green;
  transition: transform 0.2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(
    1.05
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#sixth_section .card-title {
  color: #899600;
  text-align: left;
  font-size: 25px;
}

#sixth_section .card-text {
  color: #2b195e;
  text-align: left;
}

#footer {
  width: 100%;
  height: 350px;
  background-color: #2b195e;
  text-align: center;
  color: white;
}

.copyright p {
  font-size: x-small;
  color: #beeac1;
  margin-top: 60px;
}

.logofooter {
  width: 8%;
  margin: 30px;
}

#fifth_section .card-title {
  padding-top: 1rem;
}

@media (min-width: 576px) {
  #second_section {
    padding: 100px;
  }

  #third_section {
    padding: 100px;
  }

  #fourth_section {
  }

  #fifth_section {
    padding: 100px;
  }

  #sixth_section {
    padding: 100px;
  }
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%232b195e' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.myfixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.pulse {
  animation-name: pulse_kf;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}

@keyframes pulse_kf {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}

@media (max-width: 576px) {
  #sixth_section .col-md-4 .img-fluid {
  }

  .header {
    background-color: transparent;
    width: 100%;
  }

  .billedesize {
    width: 70%;
    margin: auto;
  }

  .myfixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

  .navbar-collapse {
    background-color: #2b195e;
    padding: 40px;
    width: 50px;
  }

  .navbar-light .navbar-toggler {
    border: none;
    box-shadow: none;
  }

  .logo {
    width: 40%;
  }

  .yellowbox {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding-top: 1rem;
    margin-bottom: 0.9rem;
  }

  li {
    text-align: left;
  }

  h1 {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  #first_section .indhold1 h1 {
    margin-top: 0.5rem;
    color: #2b195e;
    text-align: left;
  }

  .h3hidden {
    padding-top: 20px;
  }

  .bowls {
    max-width: 100%;
    height: auto;
  }

  #second_section {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #third_section {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content: center;
  }

  #second_section .indhold2 h1 {
    padding-bottom: 2rem;
  }

  #fourth_section {
    height: 780px;
  }

  .indholdx {
    margin-left: 1px;
  }

  #fourth_section .indhold4 h1 {
    text-align: center;
  }
  #fourth_section .indhold4 h3 {
    text-align: center;
  }

  #fifth_section {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  #fifth_section .card-text {
    text-align: center;
  }

  #sixth_section {
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .logofooter {
    width: 20%;
    margin: 40px;
  }

  #footer {
    height: 500px;
  }

  #sixth_section .card-title {
    color: #899600;
    text-align: center;
  }
  #sixth_section .card-text {
    text-align: left;
  }

  .indhold1 {
  }
}
